language: haskell
ghc:
  #- "7.10"
  - 7.8
  - 7.6
  - 7.4
  - 7.0

sudo: required

install:
  - sudo apt-get install clisp
  - cabal install --only-dependencies --enable-tests

script:
  - cabal configure --enable-tests
  - cabal build
  - cabal test
  - clisp -norc lisp/test-runner.lisp
